* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: Norse-Bold;
    src: url(media/Norse-Bold.otf);
}

body {
    background-image: url("media/steinar-engeland-SgyH_Ix9lNE-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content:stretch;
    align-items: center;
}

.logo-container {
    height: 150px;
    width: 40%;
    display: flex;
    justify-content: center;

    font-size: 150px;
    font-family: Norse-Bold;
    color: rgb(255, 255, 255);
}

.container {
    background-color: rgb(249, 250, 251);
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container > * {
    padding: 35px;
}

.paragraph {
    display: flex;
    align-items: flex-end;
}

.form {
    background-color: rgb(255, 255, 255);
}
.container > div {
    height: 33%
}