html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("media/steinar-engeland-SgyH_Ix9lNE-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#side-panel {
    
    background-color: gray;
    height: 100%;
    width: 60%;
}